div.certificate__action-link {
  margin-bottom: 20px;
}
.crm-ajax-container #bootstrap-theme > .certificate__create-form-panel.panel{
  box-shadow: none;
}
.crm-ajax-container #bootstrap-theme > .certificate__create-form-panel.panel > div.panel-body {
  border-top: unset;
}
#bootstrap-theme > .certificate__create-form-panel.panel > div.panel-body > div > div.form-group.row.relationship_types > div.col-sm-2.control-label > label {
  display: inline;
}